/// Mixin für ein ::after-Element mit Icon (Bilddatei)
/// @param {String} $icon - Dateiname ohne Endung (z. B. "arrow-right")
/// @param {String} $path - optionaler Bildpfad (Default: "../images")
/// @param {String} $ext  - optionale Dateiendung (Default: "svg")
@mixin buttonIcon($icon, $path: "../icons", $ext: "svg") {
  padding-right: calc(var(--memy-size-button-icon) + 10px);

  &::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: var(--memy-size-button-icon);
    height: var(--memy-size-button-icon);
    background-image: url("#{$path}/#{$icon}.#{$ext}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@mixin dashcontainer{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

@mixin headingContainer{
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom: var(--memy-trenner)
}

@mixin memyScrolbar{
    --scroll-bg:rgba(255, 255, 255, 0)
    scrollbar-width: 2px;
    scrollbar-color: rgb(0 0 0 / 60%) var(--scroll-bg);

    /* WebKit (Chrome, Edge, Safari) */
    &::-webkit-scrollbar {
        width: thin;
    }

    &::-webkit-scrollbar-track {
        background: #cccccc43; // grauer Hintergrund
        left: 15px; // optischer Versatz nach rechts
    }

    &::-webkit-scrollbar-thumb {
        background: #00000054; // schwarzer Balken
        border-radius: 2px;
        &:hover{
            background: #Ff000054; // schwarzer Balken
        }
    }
}

@mixin inputsLayout{
    box-sizing: border-box;
    width:100%;
    border:var(--memy-border);
    padding:var(--memy-padding-input);
    outline: none;
    transition: all 0.3s ease;
    min-width: 300px;
};