@use 'mixins' as m;
/*Content | Dashboard*/
#memy-dashboard{
   height: 100%;
   *{
      max-width: 100%;
   }

   /*Dashboard Kacheln*/
   .tile{
      background: var(--memy-primary);
      height:var(--memy-kachel-height);

      .dashboard-item{
         .item-headline{
            padding:var(--memy-padding-small-dashbox);
            border-bottom:var(--memy-trenner);
            
            p{
               margin-bottom: 0;
               text-transform: uppercase;
               cursor: default;
               flex:1;
            }

            &:hover{
               cursor: pointer;
               .weiter{
                  transform: translateX(10px);
               }
            }
         }
         .item-content{
            padding:var(--memy-padding-small-dashbox);
            gap:var(--memy-list-gap);
            div[data-goto]{
               p{
                  transition: all .3s ease;
               }
               &:hover p{
                  transform: translateX(10px);
               }
            }
         }
      }
   }

   //Desktop
   @media (min-width: 1119px){
      .spalte .tile{
         max-width: 460px;
      }
   }

   /*Uhranzeige*/
   #chooser-exam-clock {
      justify-content: center;
      .dashboard-item{
         flex-direction: column;
         align-items: flex-end;
      }
   }
   
   /*Urlaubsmodus*/
   #chooser-urlaubsmodus{
      @include m.dashcontainer;
      z-index: 1;
      background-color: var(--memy-primary)36;
      backdrop-filter: blur(3px);
      >div{
         padding: var(--memy-padding-small-dashbox);
      }
   }

   /*Helper-Dashboard*/
   .dashboard-helper{
      padding: var(--memy-padding-small-dashbox);
      gap: var(--memy-dashbox-gap);
      >.spalte{
         gap: var(--memy-dashbox-gap);
         text-align: center;
         button{
            justify-content: center;
            margin-bottom: 15px;
         }
      }      
   }   
}


/*InnerBoxeWrapper*/
.container-wrapper{
   /*Dashboard Container der Eingabemasken*/
   
   @include m.dashcontainer;
   
   left:100%;
   *{
      transition: all .3s ease
   }
   
   .container{
      @include m.dashcontainer;

      //Steps
      >div{
         @include m.dashcontainer;
         justify-content: flex-start;
         transform: translateX(0%);
         padding: var(--memy-padding-inner-container);
         box-sizing: border-box;
         &.show{
            transform: translateX(-100%);
         }

         h3{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: var(--memy-text-gap);

            &:after{
               content: "";
               display: block;
               width: calc(100% + (2 * var(--memy-padding-inner-container)));
               height: 1px;
               background-color: var(--memy-trenner-color);
               margin-top: var(--memy-padding-inner-container);
               margin-bottom: var(--memy-padding-inner-container);
               position: relative;
               left:calc(var(--memy-padding-inner-container-side) * -1);
               margin-top:var(--memy-padding-inner-container-side);
            }
         }

         /*Wenn kein Overflow-Container davor*/
         .save-wrapper{
            margin-top: auto;
            &:not(button){
               &:before,
               &:after{
                  content: "";    
                  position: absolute;           
                  display: block;
                  width: 100%;
                  height: var(--memy-padding-inner-container-side);
                  top:calc(var(--memy-padding-inner-container-side) * -1);
               }

               &:before{
                  border-top: 1px solid var(--memy-trenner-color);
                  background-color: #fff;               
               }

               &:after{
                  top:calc(var(--memy-padding-inner-container-side) * -2); 
                  background: #FFFFFF;
                  background: linear-gradient(
                     0deg, 
                     rgba(255, 255, 255, 1) 0%, 
                     rgba(255, 255, 255, 0.5) 70% 70%,
                     rgba(255, 255, 255, 0) 100%
                  )
               }
            }
         }
      }

      //ÜberschriftWrapper
      .inner-main-heading{
         @include m.headingContainer;
      }
   }
}