@use 'mixins' as m;
/*Content | Dashboard*/
#memy-dashboard{
   *{
      max-width: 100%;
   }

   /*Dashboard Kacheln*/
   .tile{
      background: #fff;
      height:var(--memy-kachel-height);

      .dashboard-item{
         .item-headline{
            padding:var(--memy-padding-small-dashbox);
            border-bottom:var(--memy-trenner);
            
            p{
               margin-bottom: 0;
               text-transform: uppercase;
               cursor: default;
               flex:1;
            }

            &:hover{
               cursor: pointer;
               .weiter{
                  transform: translateX(10px);
               }
            }
         }
         .item-content{
            padding:var(--memy-padding-small-dashbox);
            gap:20px;
            div[data-goto]{
               p{
                  transition: all .3s ease;
               }
               &:hover p{
                  transform: translateX(10px);
               }
            }
         }
      }
   }

   /*Uhranzeige*/
   #chooser-exam-clock {
      justify-content: center;
      .dashboard-item{
         flex-direction: column;
         align-items: flex-end;
      }
   }
   
   /*Urlaubsmodus*/
   #chooser-urlaubsmodus{
      @include m.dashcontainer;
      z-index: 1;
      background-color: #ffffff36;
      backdrop-filter: blur(3px);
      >div{
         padding: var(--memy-padding-small-dashbox);
      }
   }

   /*Helper-Dashboard*/
   .dashboard-helper{
      padding: var(--memy-padding-small-dashbox);
      gap: var(--memy-dashbox-gap);
      >.spalte{
         gap: var(--memy-dashbox-gap);
         text-align: center;
         button{
            justify-content: center;
            margin-bottom: 15px;
         }
      }      
   }   
}


/*InnerBoxeWrapper*/
.container-wrapper{
   /*Dashboard Container der Eingabemasken*/
   
   @include m.dashcontainer;
   max-width: var(--memy-dash-container);
   left:100%;
   *{
      transition: all .3s ease
   }
   
   .container{
      @include m.dashcontainer;

      //Steps
      >div{
         @include m.dashcontainer;
         justify-content: flex-start;
         transform: translateX(0%);
         padding: var(--memy-padding-inner-container);
         box-sizing: border-box;
         &.show{
            transform: translateX(-100%);
         }

         h3{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap:10px;

            &:after{
               content: "";
               display: block;
               width: calc(100% + (2 * var(--memy-padding-inner-container)));
               height: 1px;
               background-color: var(--memy-trenner-color);
               margin-top: var(--memy-padding-inner-container);
               margin-bottom: var(--memy-padding-inner-container);
               position: relative;
               left:calc(var(--memy-padding-inner-container-side) * -1);
               margin-top:var(--memy-padding-inner-container-side);
            }
         }

         /*Wenn kein Overflow-Container davor*/
         .save-wrapper{
            margin-top: auto;
            &:after{
               content: "";
               position: absolute;
               left:0;
               bottom: 70px;
               width: 100%;
               height: 1px;
               background-color: var(--memy-trenner-color);
            }
         }
      }

      //ÜberschriftWrapper
      .inner-main-heading{
         @include m.headingContainer;
      }
   }
}