@use 'mixins' as m;

#first-settings{

    @include m.dashcontainer;

    >div{
        height: 100%;
        .container{
            @include m.dashcontainer;
            transition: left .3s ease;
            padding: var(--memy-padding-inner-container);
            &:not(:first-child){
                margin-left:100%;
            }
            &.show{
                left:-100%;
            }

            .inner-main-heading{
                @include m.headingContainer;
            }

            .is-checkbox {
                margin-top: auto;
                flex-direction: row-reverse;
                justify-content: flex-end;
            }

            button {
                justify-content: space-between;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    &:hover{
                        i{
                            filter: brightness(1);
                            background-image: url(../icons/MMSI_Icon_WEITER-DOWN.svg);
                        }
                    }
                }
            }
            
            .fs-naviwrapper{
                flex-direction: row;
                margin-top: auto;
                gap:var(--memy-padding-root);
                justify-content: flex-end;
                padding-top:20px;
                button{
                    max-width: 50%;
                    flex:1;
                }
                .progress{
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color: var(--memy-trenner-color);
                    top:0;
                    left:0;

                    &:before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        background: #000;
                        width: calc(var(--step) / var(--memy-first-step-max) * 100%);
                    }
                }
            }

            .final-btns{
                justify-content: flex-end;
                .fs-naviwrapper{
                    position: absolute;
                    width: 100%;
                    top: -20px;
                    button{
                        display:none
                    }
                }
            }
        }
    }
    
}