/**
 *   Browser Defaults zurücksetzten
 */
select, input, textarea, button{
    all: unset;
    box-sizing: border-box;
    appearance: none;

    display: inline-block;
    position: relative;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;

    font: inherit;
    color: inherit;
}

label{
    position: relative;
}

/*Eingabefeld*/
input{
    border:var(--memy-border);
    padding:var(--memy-padding-input);

    &:disabled{
        opacity: .3;
    }

    /*Submit*/
    &[type=submit]{
        margin-top: 40px;
    }
}

textarea{
    border:var(--memy-border);
    padding:var(--memy-padding-input);
}

.input-wrapper{
    label{
        display: flex;
        align-items: center;
        margin-left: var(--memy-padding-inner-container-side);
        margin-bottom: 10px;
        &:before{
            content:"■";
            display: inline-block;
            margin-right: 8px;
            font-size: 8px;
            line-height: 1;
        }
    }
    input{
        margin-left: calc(var(--memy-padding-inner-container-side) * 1.65)
    }

    &:not(:last-child){
        margin-bottom: 20px;
    }
}


/* Selectbox */
.selectbox {
    *{
        color:#000
    }
    select{
        width: 100%;
        border:var(--memy-border);
        padding:var(--memy-padding-input);
        cursor: pointer;

        &option {
            padding: 10px;
            background: #fff;
        }
    }
    &::after {
        content: '▼';
        position: absolute;
        bottom: 0%;
        right: 10px;
        transform: translateY(-5px);
        pointer-events: none;
        font-size: 12px;
        color: #000;
    }
    @supports (-webkit-appearance:none) and (appearance: none) {
        select {
            -webkit-apadding-right: 30px; /* Zusätzliche rechte Polsterung für Pfeil */
        }
    }
}

/*
* Checkbox Styles
*/
label.is-checkbox{
    --memy-knopf-size: 9px;
    --memy-check-space: 2px;

    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    gap:20px;

    /* Verstecke die originale Checkbox */
    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    /* Der Slider Hintergrund */
    .slider {     
        position: relative;
        width: calc((var(--memy-knopf-size) * 2) + (var(--memy-check-space) * 4));
        height: calc((var(--memy-knopf-size)) + (var(--memy-check-space) * 2));
        background-color: #fff;
        transition: background-color 0.3s;
        border: var(--memy-border);
        border-width: 1.5px;

        /*Knopf*/
        &::before {
            content: "";
            position: absolute;
            width: var(--memy-knopf-size);
            height: var(--memy-knopf-size);
            left: var(--memy-check-space);
            top: var(--memy-check-space);
            background-color: #000;
            transition: transform 0.3s;
        }
    }
    
    input[type="checkbox"]:checked + .slider::before {
        transform: translateX(calc((var(--memy-knopf-size) + (var(--memy-check-space) * 2))));
        background-color: var(--memy-check-color);
    }

    /* Wenn Checkbox gecheckt ist *
    input[type="checkbox"]:checked + .slider {
        background-color: #fff;
    }
    
    /* Focus-Stil für Accessibility *
    input[type="checkbox"]:focus + .slider {
        box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.3);
    }
    
    /* Label Text */
    .checkbox-label,
    .radio-label {
        white-space: nowrap;
        flex-shrink: 0;
        line-height: 1.25;
    }

    /*Einfache Checkbox ohne Slider*/
    &.simple{
        .slider{
            width: calc(var(--memy-knopf-size) + var(--memy-check-space) * 2);
            &:before{
                left:calc(var(--memy-knopf-size) * -1)
            }
        }
        input[type=checkbox]:checked + .slider::before{
            transform: translateX(calc(var(--memy-knopf-size) + var(--memy-check-space)));
        }
    }
}

/*CheckboxGroup*/
.checkbox-group{
    label{
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}

/*
* Radio Styles
*/
.radio-group{
    gap:10px;
    label.is-radio{
        flex-direction: row-reverse;
        justify-content: flex-end;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        user-select: none;

        /* Verstecke die originale Radio */
        input[type="radio"] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        /* Der Slider Hintergrund */
        .slider {     
            width: 25px;
            height: 10px;
            background-color: #000;
            margin-right: 20px;
            border:2px solid #000;

            /*Knopf*/
            &::before {
                content: "";
                position: absolute;
                width: 9px;
                height: 8px;
                left: 1px;
                top: 1px;
                background-color: #fff;
                transition: left 0.3s;
            }
        }
        
        input[type="radio"]:checked + .slider{
            background-color: #fff;
            &::before {
                left:15px; /* gecheckte Radiobutton */
                background-color: var(--memy-check-color);
            }
        }
    }
}

/*Profil bearbeiten*/
.profile-bearbeiten-wrap{
    h4 + div {
        > .settings-labels {
            h5{
                padding-left:25px;
            }
            >div{
                padding-left:40px;
            }
        }
    }
}

/*Inputs sperren bei Helpermode*/
.helper-mode{
    > .container-wrapper{
        input{
            border:none;
            border-bottom: var(--memy-border);
            pointer-events: none;
            cursor: not-allowed;
        }
    }
}
