@use 'mixins' as m;

/**
 *   Browser Defaults zurücksetzten
 */
select, input, textarea, button{
    all: unset;
    box-sizing: border-box;
    appearance: none;

    display: inline-block;
    position: relative;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;

    font: inherit;
    color: inherit;
}

/**
 * Label
 */
.memy-label,
label:not(.is-checkbox){
    display: flex;
    align-items: center;
    &:not(.number-label):not(.is-radio){
        margin-bottom: var(--memy-text-gap);
    }
    
    &:not(.no-label):not(.is-radio ){
        &:before{
            content: "■";
            display: inline-block;
            margin-right: 8px;
            font-size: 8px;
            line-height: 1;
        }

        + input{
            margin-left: 15px;
            width:calc(100% - 15px);
        }
    }
}

/**
 * Input
 */
input{
    &:not([type=checkbox]):not([type=submit]){
        @include m.inputsLayout;
        
        &:focus,
        &:hover{
            &:not(:disabled){
                box-shadow: inset 0px 0px 0px 1px var(--input-border-color);
            }               
        }
    }

    &.error{
        box-shadow: inset 0px 0px 0px 3px var(--input-border-error);
    }

    &:disabled{
        opacity: .3;
    }
}

.number-input-container{
    input[type=number]{
        padding: 5px 15px !important;
    }
}


/*Submit*/
input[type=submit]{
    margin-top: 40px;
}

/*Textarea*/
select,
textarea{
    @include m.inputsLayout;
    &:focus,
    &:hover{
        box-shadow: inset 0px 0px 0px 1px var(--input-border-color);
    }
}

/*Passwort Wrapper*/
#password-field{
    input{
        padding-right:30px;

        &:focus{
            box-shadow: inset 0 0 3px orangered;

            ~ div{
                display: block;
            }
        }
    }

    #toggle-password{
        position: absolute;
        right:0;
        border: none;
        bottom: 27px;
        right: 0px;
        border: none;
        padding: 5px;
    }
}

#password-requirements{
    top: -25px;
    left:15px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    p{
        margin-bottom: 0;
        font-weight: 400 !important;
    }
    .valid{
        color:var(--memy-secondary);
        &:after{
            font-family: 'bootstrap-icons';
            position: absolute;
            right: 0px;
        }
    }
    .invalid{
        color:#9b9b9b    
    }
}

/*Form-Container*/
form{
    div{
        margin-bottom:20px
    }
}

.input-section{
    .spalte{
    gap: 40px;
        >div{
            flex-basis: 50%;
        }
    }
}

/*Gruppierung Eingabefelder*/
.inner-input-wrapper{
    padding-left: var(--memy-padding-inner-container-side);
    >div{
        gap:var(--memy-list-gap);
    }
}
.input-wrapper{
    &:not(:last-child)::is(visible){
        margin-bottom: var(--memy-list-gap)
    }
}

#profile-persoenliche-daten{
    gap:var(--memy-list-gap);
    padding-left: var(--memy-padding-inner-container-side);
    >div>div{
        padding-left: var(--memy-padding-inner-container-side);
        &.spalte{
            div{
                flex: 1;
            }
            input{
                min-width: 50%;
            }
        }
    }
}

/* Selectbox */
.selectbox {
    *{
        color:var(--memy-secondary);
    }
    select{
        cursor: pointer;

        &option {
            padding: 10px;
            background: var(--memy-primary);
        }
    }
    &::after {
        content: '▼';
        position: absolute;
        bottom: 9px;
        right: 10px;
        transform: translateY(-5px);
        pointer-events: none;
        font-size: 12px;
        color: var(--memy-secondary);
    }
    @supports (-webkit-appearance:none) and (appearance: none) {
        select {
            -webkit-apadding-right: 30px; /* Zusätzliche rechte Polsterung für Pfeil */
        }
    }
}

/*
* Checkbox & Checkslider Styles
*/
.slider {
    @include m.checkboxSlider;
}

label{
    &.is-radio,
    &.is-checkbox{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        gap:var(--memy-list-gap);

        /* Verstecke die originale Checkbox */
        input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        /* Label Text */
        .checkbox-label,
        .radio-label {
            white-space: nowrap;
            flex-shrink: 0;
            line-height: 1.25;
        }
    }
}

/*Checked Slider*/
input[type="checkbox"]:checked,
input[type="radio"]:checked{
    + .slider{
        background-color: var(--memy-primary);
        &:before {
            left:15px;
            background-color: var(--memy-check-color);        
        }
    }
}

/*CheckboxGroup*/
.radio-group,
.checkbox-group{
    gap: var(--memy-text-gap);

    label{
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .slider{
        overflow: hidden;
        width: 13px;
        &::before{
            left:-11px
        }
    }

    &.checked{
        display: flex;
    }
    
    &.show .slider{
        display: block;
    }

    input[type="checkbox"]:checked,
    input[type="radio"]:checked{
        + .slider{
            &:before {
                left:2px;
            }
        }
    }
}

/*
* Radio Styles
*/
.radio-group{
    label.is-radio{
        /* Verstecke die originale Radio */
        input[type="radio"] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
}

/*Profil bearbeiten*/
.profile-bearbeiten-wrap{
    h4 + div {
        > .settings-labels {
            h5{
                padding-left:25px;
            }
            >div{
                padding-left:40px;
            }
        }
    }
}

/*Einstellungen*/
#memy-settings.container{
    .settings-labels{
        gap:calc(var(--memy-list-gap) * 2);
        label:not(.is-radio){
            font-weight: 700;
            text-transform: uppercase;
            &:before{
                display: none;        
            }
        }
    }
}

/*Inputs sperren bei Helpermode*/
.helper-mode{
    > .container-wrapper{
        input{
            border:none;
            border-bottom: var(--memy-border);
            pointer-events: none;
            cursor: not-allowed;
        }
    }
}
