@charset "UTF-8";
/**
 *   Browser Defaults zurücksetzten
 */
select, input, textarea, button {
  all: unset;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  font: inherit;
  color: inherit;
}

/**
 * Label
 */
.memy-label,
label:not(.is-checkbox) {
  display: flex;
  align-items: center;
}
.memy-label:not(.number-label):not(.is-radio),
label:not(.is-checkbox):not(.number-label):not(.is-radio) {
  margin-bottom: var(--memy-text-gap);
}

/**
 * Input
 */
input:not([type=checkbox]):not([type=submit]) {
  box-sizing: border-box;
  width: 100%;
  border: var(--memy-border);
  padding: var(--memy-padding-input);
  outline: none;
  transition: all 0.3s ease;
  min-width: 300px;
}
input:not([type=checkbox]):not([type=submit]):focus:not(:disabled), input:not([type=checkbox]):not([type=submit]):hover:not(:disabled) {
  box-shadow: inset 0px 0px 0px 1px var(--input-border-color);
}
input.error {
  box-shadow: inset 0px 0px 0px 3px var(--input-border-error);
}
input:disabled {
  opacity: 0.3;
}

.number-input-container input[type=number] {
  padding: 5px 15px !important;
}

/*Submit*/
input[type=submit] {
  margin-top: 40px;
}

/*Textarea*/
select,
textarea {
  box-sizing: border-box;
  width: 100%;
  border: var(--memy-border);
  padding: var(--memy-padding-input);
  outline: none;
  transition: all 0.3s ease;
  min-width: 300px;
}
select:focus, select:hover,
textarea:focus,
textarea:hover {
  box-shadow: inset 0px 0px 0px 1px var(--input-border-color);
}

/*Passwort Wrapper*/
#password-field input {
  padding-right: 30px;
}
#password-field input:focus {
  box-shadow: inset 0 0 3px orangered;
}
#password-field input:focus ~ div {
  display: block;
}
#password-field #toggle-password {
  position: absolute;
  right: 0;
  border: none;
  bottom: 27px;
  right: 0px;
  border: none;
  padding: 5px;
}

#password-requirements {
  top: -25px;
  left: 15px;
  display: flex;
  gap: 15px;
  flex-direction: row;
}
#password-requirements p {
  margin-bottom: 0;
  font-weight: 400 !important;
}
#password-requirements .valid {
  color: var(--memy-secondary);
}
#password-requirements .valid:after {
  font-family: "bootstrap-icons";
  position: absolute;
  right: 0px;
}
#password-requirements .invalid {
  color: #9b9b9b;
}

/*Form-Container*/
form div {
  margin-bottom: 20px;
}

.input-section .spalte {
  gap: 40px;
}
.input-section .spalte > div {
  flex-basis: 50%;
}

/*Gruppierung Eingabefelder*/
.inner-input-wrapper > div {
  gap: var(--memy-list-gap);
}

.input-wrapper:not(:last-child)::is(visible) {
  margin-bottom: var(--memy-list-gap);
}

#profile-persoenliche-daten {
  gap: var(--memy-list-gap);
}
#profile-persoenliche-daten > div > div.spalte div {
  flex: 1;
}
#profile-persoenliche-daten > div > div.spalte input {
  min-width: 50%;
}

/* Selectbox */
.selectbox * {
  color: var(--memy-secondary);
}
.selectbox select {
  cursor: pointer;
}
.selectbox selectoption {
  padding: 10px;
  background: var(--memy-primary);
}
.selectbox::after {
  content: "▼";
  position: absolute;
  bottom: 9px;
  right: 10px;
  transform: translateY(-5px);
  pointer-events: none;
  font-size: 12px;
  color: var(--memy-secondary);
}
@supports (-webkit-appearance: none) and ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {
  .selectbox select {
    -webkit-apadding-right: 30px; /* Zusätzliche rechte Polsterung für Pfeil */
  }
}

/*
* Checkbox & Checkslider Styles
*/
.slider {
  width: 25px;
  height: 12px;
  border: var(--memy-border);
  /*Knopf*/
}
.slider::before {
  content: "";
  display: block;
  position: relative;
  width: 9px;
  height: 8px;
  left: 1px;
  top: 2px;
  background-color: var(--memy-secondary);
  transition: all 0.3s ease;
}

label.is-radio, label.is-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  gap: var(--memy-list-gap);
  /* Verstecke die originale Checkbox */
}
label.is-radio input[type=checkbox], label.is-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
label.is-radio, label.is-checkbox {
  /* Label Text */
}
label.is-radio .checkbox-label,
label.is-radio .radio-label, label.is-checkbox .checkbox-label,
label.is-checkbox .radio-label {
  white-space: nowrap;
  flex-shrink: 0;
  line-height: 1.25;
}

/*Checked Slider*/
input[type=checkbox]:checked + .slider,
input[type=radio]:checked + .slider {
  background-color: var(--memy-primary);
}
input[type=checkbox]:checked + .slider:before,
input[type=radio]:checked + .slider:before {
  left: 15px;
  background-color: var(--memy-check-color);
}

/*CheckboxGroup*/
.radio-group,
.checkbox-group {
  gap: var(--memy-text-gap);
}
.radio-group label,
.checkbox-group label {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.radio-group .slider,
.checkbox-group .slider {
  overflow: hidden;
  width: 13px;
}
.radio-group .slider::before,
.checkbox-group .slider::before {
  left: -11px;
}
.radio-group.checked,
.checkbox-group.checked {
  display: flex;
}
.radio-group.show .slider,
.checkbox-group.show .slider {
  display: block;
}
.radio-group input[type=checkbox]:checked + .slider:before,
.radio-group input[type=radio]:checked + .slider:before,
.checkbox-group input[type=checkbox]:checked + .slider:before,
.checkbox-group input[type=radio]:checked + .slider:before {
  left: 2px;
}

/*
* Radio Styles
*/
.radio-group label.is-radio {
  /* Verstecke die originale Radio */
}
.radio-group label.is-radio input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/*Profil bearbeiten*/
.profile-bearbeiten-wrap h4 + div > .settings-labels h5 {
  padding-left: 25px;
}
.profile-bearbeiten-wrap h4 + div > .settings-labels > div {
  padding-left: 40px;
}

/*Einstellungen*/
#memy-settings.container .settings-labels {
  gap: calc(var(--memy-list-gap) * 2);
}
#memy-settings.container .settings-labels label:not(.is-radio) {
  font-weight: 700;
  text-transform: uppercase;
}
#memy-settings.container .settings-labels label:not(.is-radio):before {
  display: none;
}

/*Inputs sperren bei Helpermode*/
.helper-mode > .container-wrapper input {
  border: none;
  border-bottom: var(--memy-border);
  pointer-events: none;
  cursor: not-allowed;
}

/*PLZ*/
#plz {
  -moz-appearance: textfield;
}
#plz::-webkit-outer-spin-button, #plz::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}/*# sourceMappingURL=form.css.map */