#projects-list-container{
    >div{
        p{
            transition: all .3s ease;
        }
        
        .mmsi-icon.weiter{
            margin-right:20px;
        }
        &:hover{
            .mmsi-icon.weiter,
            p{
                transform: translateX(10px);
            }
        }
    }
}

/**
* Projekt-Daten (Überschrift)
*/
.project-data-show-hide{
    margin-bottom: 20px;

    &:not(:first-child){
        padding-top: 20px;
        border-top: 1px solid var(--memy-trenner-color);
    }

    .mmsi-icon.bearbeiten{
        left:-5px
    }
}

/**
* Projekt-Daten (Eingabefelder)
*/
.project-data-container{
    --project-padding-outer: 30px;
    --project-padding-inner: 20px;
    --project-field-margin: 10px;
    padding-right: var(--project-padding-outer);

    >div{
        margin-bottom: var(--project-padding-inner);
        
        .checkbox-group {
            margin-top:var(--project-field-margin);
            label{                
                &:before{
                    display:none
                }
            }
        }

        input{
            margin-top: var(--project-field-margin);
            margin-bottom: var(--project-field-margin);
        }

        .selectbox{
            label{
                padding:0;
            }
            select{
                margin-top: var(--project-field-margin);
            }
            &:not(.show){
                select,
                &:after{
                    display:none;
                }
            }
        }

        #project-anmerkungen{
            margin-top:var(--project-field-margin);            
        }

        /*Hidden Labels*/
        .project-anmerkung label,
        .project-dienstleister-funktion label{
            &:before{opacity:0}
        }

        label.is-checkbox,
        input, 
        textarea{
            &:not(.show){
                display:none
            }            
        }
    }

    .project-status-wrap{
        align-items: flex-start;
        /*kleine Textarea*/
        #project-anmerkung{
            width: 100% !important;
        }
    }
    
    .spalte{
        >div{
            width: 100%;
            margin-bottom: 0;
        }
        div:not(:first-child) input{
            margin-left:0
        }
    }
}