.wp-site-blocks > main{
    padding-bottom: 0;
    max-height: calc(100vh - var(--memy-header-height));
}

/*Container Allgemein*/
div{
    display:flex;
    flex-direction: column;
    &.spalte{
        justify-content: space-between;
        flex-direction: row;
        gap:10px;
        align-items: center;
        p{
            flex-basis: 100%;
        }
    }
}

/* Front Page Styles */
#front-page-html{
    align-items: flex-start;
    flex-direction: row;
    background-color: #F5F5F5;
    gap:var(--memy-padding-root);
    padding-right: var(--memy-padding-root);

    .wp-block-template-part.user-menu{
        background-color: #fff;
        min-height: 100vh;
        flex-basis:25%;
        align-items: flex-end;
        padding-left: 5%;
    }

    .wp-block-template-part.user-content{
        padding-top: var(--memy-padding-root);
        flex-basis:70%;
        min-height: 100vh;
        padding-right: 5%;

        #memy-user-content-wrapper{
            overflow: hidden;
        }
    }
}

/**
*   Menu
**/
#memy-user-menu{
    padding: var(--memy-padding-root) var(--memy-padding-root) 0 0;
    gap: var(--memy-padding-root);
    min-height: var(--memy-menu-height);

    h1{
        width: 184px;
        height: var(--memy-kachel-height);
        margin-bottom: 0;
        background-image: url(../imgs/MMSI_Logo_Desktop.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center var(--memy-padding-root);
        small{
            display: none;
        }
    }
    
    #menu{
        flex: 1;
        display: flex;
        flex-direction: column;
        p{
            cursor: default;
        }
        .wp-block-list{
            list-style:none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap:20px;
            li{
                cursor: pointer;
                display: flex;
                gap: 10px;
                
                .mmsi-icon{
                    top:1px
                }

                span{
                    transition: all .3s ease;
                }
                
                &:hover{
                    span{
                        transform: translateX(10px);
                    }
                }
            }
            form{
                .mmsi-icon{
                    top:2px;
                }
            }
        }

        #logout-form{
            margin: 40px 0 0;
            display: flex;
            gap: 10px;
            .icon-logout-btn{
                background: none;
                border: none;
                padding: 0;
                cursor: pointer;
                color: inherit;
                font-size: inherit;
                margin-top: 0px;
                transition: all .3s ease;
                position: absolute;
                padding-left:30px;
            }
            &:hover input{
                transform: translateX(10px);
            }
        }
    }
    
    #goback{
        margin-top: auto;
        display: flex;
        justify-content: center;
        margin-bottom:var(--memy-padding-inner-container-side);
    }
}

/**
*   Content
*/
.user-content{
    /*Dashboard*/
    .memy-dash-wrapper{
        >div{
            .tile-wrapper{
                gap:var(--memy-padding-root);
                >.spalte{
                    gap:var(--memy-padding-root);
                    align-items: stretch;
                    >div{
                        flex:1;
                    }
                    /* -> dashboard.scss */
                }
            }
        }
    }

    /*Einstellungen*/
    #memy-user-settings-wrapper{
        
    }
}

/*Only Desktop*/
@media screen and (max-width: 1118px) {
    body{
        .wp-site-blocks{
            .only-desktop {
                display: none;
            }
        }
    }
}
