.wp-site-blocks{
    overflow-x: inherit;
    > main{
        padding-bottom: 0;
    }
}

/*Container Allgemein*/
div{
    display:flex;
    flex-direction: column;
    &.spalte{
        justify-content: space-between;
        flex-direction: row;
        gap: var(--memy-text-gap);
        align-items: center;
        p{
            flex-basis: 100%;
        }
    }
}

/* Front Page Styles */
#front-page-html{
    display: grid;
    grid-template-columns: 1fr var(--memy-menu-width) var(--memy-container) 1fr;
    background-color: var(--memy-tertiery);
    gap:0;
    flex-grow: 1;

    .space-left{
        background: var(--memy-primary);
    }
    

    .wp-block-template-part.user-menu{
        background: var(--memy-primary);
        min-height: calc(100vh - var(--memy-header-height));
        align-items: flex-end;
    }

    .wp-block-template-part.user-content{
        padding:var(--memy-padding-root);
        
        #memy-user-content-wrapper{
            overflow: hidden;
            min-height: 100%;
        }
    }
}

/**
*   Menu
**/
#memy-user-menu{
    padding: var(--memy-padding-root) var(--memy-padding-root) 0 0;
    gap: var(--memy-padding-root);
    min-height: var(--memy-menu-height);
    min-width: 175px;
    h1{
        height: var(--memy-kachel-height);
        margin-bottom: 0;
        background-image: url(../imgs/MMSI_Logo_Desktop.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center var(--memy-padding-root);
        small{
            display: none;
        }
    }
    
    #menu{
        flex: 1;
        display: flex;
        flex-direction: column;
        p{
            cursor: default;
        }
        .wp-block-list{
            list-style:none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap:var(--memy-list-gap);
            li{
                cursor: pointer;
                display: flex;
                gap: var(--memy-text-gap);
                
                .mmsi-icon{
                    top:1px
                }

                span{
                    transition: all .3s ease;
                }
                
                &:hover{
                    span{
                        transform: translateX(10px);
                    }
                }
            }
            form{
                .mmsi-icon{
                    top:2px;
                }
            }
        }

        #logout-form{
            // margin: 40px 0 0;
            display: flex;
            gap: var(--memy-text-gap);
            .icon-logout-btn{
                background: none;
                border: none;
                padding: 0;
                cursor: pointer;
                color: inherit;
                font-size: inherit;
                margin-top: 0px;
                transition: all .3s ease;
                position: absolute;
                padding-left:30px;
            }
            &:hover input{
                transform: translateX(10px);
            }
        }
    }
}

/**
*   Content
*/
.user-content{
    /*Dashboard*/
    .memy-dash-wrapper{
        >div{
            .tile-wrapper{
                gap:var(--memy-padding-root);
                >.spalte{
                    gap:var(--memy-padding-root);
                    align-items: stretch;
                    >div{
                        flex:1;
                    }
                    /* -> dashboard.scss */
                }
            }
        }
    }

    /*Einstellungen*/
    #memy-user-settings-wrapper{
        
    }
}

/**
*   Zurückbutton
*/
#goback{
    --memy-backbutton-verschieben: calc((var(--memy-menu-min-width) + (2 * var(--memy-padding-root))) * -1);
    left: var(--memy-backbutton-verschieben);
    top:calc((var(--memy-padding-inner-container-side) + var(--memy-button-height)) * -1);
    display: flex;
    justify-content: center;
    margin-bottom:0;
    max-width: calc(var(--memy-menu-width) - (2 * var(--memy-padding-root)));
    min-width: var(--memy-menu-min-width);
}

/* Only Desktop*/
@media screen and (min-width: 1119px) {
    body{
        .wp-site-blocks{
            .only-desktop {
                display: none;
            }
        }
    }
}

/* Tablet*/
@media (max-width: 1118px){	
    .wp-site-blocks > main{
        max-height: none;
        .user-content {
            padding-bottom: var(--memy-padding-root);
            max-height: none !important;
            .memy-dash-wrapper > div .tile-wrapper > .spalte{
                flex-direction: column;
            }

            &.no-tiles {
                max-height: calc(100vh - var(--memy-header-height))!important;
            }
        }
    }
}
@media (max-width: 1023px){	
    div.spalte:not(.is-line):not(.item-headline):not(.dash-item):not(.save-wrapper):not(.inner-main-heading) {
        flex-direction: column;
        align-items: flex-start;
    }
    #memy-dashboard .tile{
        width: 100%;
    }

    .half-width,
    .flex-one{
        width: 100%;
    }
}
@media (max-width: 834px){
    #front-page-html{
        grid-template-columns: var(--memy-menu-width) var(--memy-container);

        >div:not(.wp-block-template-part){
           display: none;
        }
    
        .user-menu.wp-block-template-part {
           padding-left: var(--memy-padding-root);
        }
    } 
}