body{
    /*Farben*/
    --memy-primary:#ffffff;                             /*Kachel und Menü BG*/
    --memy-secondary:#000000;                           /*Schrift Icons und Rahmen*/
    --memy-tertiery:#F5F5F5;                            /*Dashboard Flächen*/
    --wp--preset--color--contrast:var(--memy-secondary);
    --memy-color-border:var(--memy-secondary);
    --input-border-color: var(--memy-secondary);
    --input-border-error: red;
    --memy-border:2px solid var(--memy-color-border);
    --memy-trenner-color:var(--memy-tertiery);
    --memy-trenner:1px solid var(--memy-trenner-color);
    --memy-check-color:#6094ff;
    --mmsi-drag-over: var(--memy-tertiery);
     /*Farbwerte Stufe 1*/
    --ex-clock-bg-full-1:#9CA3DB;
    /*Farbwerte Stufe 2*/
    --ex-clock-bg-full-2:#61639F;
    /*Farbwerte Stufe 3*/
    --ex-clock-bg-full-3:#27233A;

    /*Abstände*/
    --memy-padding-root:30px;
    --memy-padding-inner-container-side:20px;
    --memy-dashbox-gap:var(--memy-padding-root);
    --memy-text-gap:10px;
    --memy-list-gap:20px;
    --memy-padding-inner-container:var(--memy-padding-root) var(--memy-padding-inner-container-side) var(--memy-padding-inner-container-side);
    --memy-padding-small-dashbox:20px;
    --memy-padding-button:12px 20px;
    --memy-padding-input:12px 20px;
    --mbfse--padding-footer: 5px 0;

    /*Breiten*/
    --memy-container: 980px;
    --memy-menu-width: 200px;
    --memy-footer-width: calc( var(--memy-container) + var(--memy-menu-width) + (2 * var(--memy-padding-root)) );


    /*Höhen*/
    --memy-kachel-height:215px;
    --memy-menu-height: calc( (var(--memy-kachel-height) * 3) + (var(--memy-padding-root) * 3) );
    --memy-clock-outher-height:133px;
    --memy-clock-middle-height:90px;
    --memy-clock-inner-height:50px;
    --memy-size-button-icon:20px;
    --memy-header-height:34px;

    /*Anzahl der Schritte bei Ersteinrichtung*/
    --memy-first-step-max:9;
}

/*
    Darkmode Farben
*/
body.darkmode{
    --memy-primary:#000000;
    --memy-secondary:#ffffff;
    --memy-tertiery:#2e2e2e;
    --ex-clock-bg-full-3: #4c3e91;
}
body.darkmode .memy-upload-wrapper #memy-upload-zone img,
body.darkmode #memy-user-menu h1,
body.darkmode .mmsi-icon{
    filter: invert(1);
}
body.darkmode button:hover .mmsi-icon{
    filter: invert(0);
}
body.darkmode .memy-upload-wrapper #memy-upload-zone.drag-over{

}


/* 
    Tablet 
*/
@media (max-width: 1118px){
    body{
        --memy-container:750px
    }
}
@media (max-width: 900px){
    body{
        --memy-container:500px
    }
}
