<main>
    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" id="front-page-html">
        
        <!-- wp:template-part {"slug":"user-menu","theme":"fse-memysafe-customer", "className":"user-menu"} /-->        
        
        <!-- wp:template-part {"slug":"user-content","theme":"fse-memysafe-customer", "className":"user-content"} /-->

        
    </div>
    <!-- /wp:group -->
</main>

<footer>
    <!-- wp:group {"align":"full","className":"parts-footer","backgroundColor":"primary","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull parts-footer has-primary-background-color has-background mmsi-footer">
        <!-- wp:pattern {"slug":"fse-memysafe-customer/aktuelles-jahr"} /-->        
        <ul>
            <li><a href="https://mmsi.de/impressum/">Impressum</a></li>
            <li><a href="https://mmsi.de/datenschutz/">Datenschutz</a></li>
            <li><a href="#">AGB</a></li>
        </ul>
    </div>
    <!-- /wp:group -->
</footer>
