<main>
    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" id="front-page-html">
        
        <!-- wp:template-part {"slug":"user-menu","theme":"fse-memysafe-customer", "className":"user-menu"} /-->        
        
        <!-- wp:template-part {"slug":"user-content","theme":"fse-memysafe-customer", "className":"user-content"} /-->

        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>
<!-- wp:template-part {"slug":"footer"} /-->