<main>
    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" id="front-page-html">
        
        <!-- wp:template-part {"slug":"user-menu","theme":"fse-memysafe-customer", "className":"user-menu"} /-->        
        
        <!-- wp:template-part {"slug":"user-content","theme":"fse-memysafe-customer", "className":"user-content"} /-->

        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>

<footer>
    <!-- wp:template-part {"slug":"mmsi-footer","theme":"fse-memysafe-customer","area":"footer","tagName":"footer"} /-->

    <!-- wp:group {"align":"full","className":"parts-footer","backgroundColor":"primary","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull parts-footer has-primary-background-color has-background"><!-- wp:paragraph -->
        <p>ME MY SAFE AND I © 2025 - Alle Rechte vorbehalten</p>
        <ul>
            <li><a href="#">Impressum</a></li>
            <li><a href="#">Datenschutz</a></li>
            <li><a href="#">AGB</a></li>
        </ul>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group -->
</footer>
